
body  {
    --font-monospace: "Fira Code";
    --font-text: "Rec Mono CustomSemicasual";
    --font-interface: "Open Sans";
}

.outline .tree-item-inner {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:  ellipsis;
}


.markdown-preview-view {
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 350;
    color: rgb(100, 120, 130);
}

.markdown-source-view {
    font-size: 20px;
    color: rgb(100, 120, 130);
}

.markdown-source-view .cm-header {
    font-weight: 600;
}

.markdown-preview-view code {
    color: rgb(0, 100, 170);
    /* background-color: #ffffff;*/
}


.markdown-preview-view h2 {
    font-weight: 500;
    text-decoration: underline #00d7ff;
    padding-top: 15px;
    margin-top: 0px;
}


.markdown-preview-view h3 {
    font-weight: 500;
}


.markdown-preview-view h1 {
    font-weight: 500;
}

.markdown-preview-view th {
    font-weight: 500;
}


.markdown-preview-view .footnotes li {
    margin-top: 2em;
}

@media print {
    .markdown-preview-view {
        font-size: 14px;
    }

    .markdown-preview-view hr {
        page-break-after: always;
        visibility: hidden;
    }

    .markdown-preview-view .footnotes hr {
        page-break-after: auto;
        display: none;
    }
}

@media screen {
    .markdown-preview-view hr {
        margin-top: 700px;
        visibility: hidden;
    }

    .markdown-preview-view .footnotes hr {
        page-break-after: auto;
        display: none;
    }
}

.markdown-preview-view div h6 {
    font-weight: normal;
    font-size: 90%;
    text-align: center;
}

.markdown-preview-view div h6::before {
    content: "(";
}

.markdown-preview-view div h6::after {
    content: ")";
}

.markdown-preview-view div h6 .heading-collapse-indicator {
    display: none;
}

